<div class="wrapper">
  <div class="info_container">
    <div class="avatar_container">
      <img class="avatar_image" src="" alt="IT" *ngIf="false"/>
      <div class="avatar" *ngIf="true">IT</div>
    </div>
    <span class="user">Игнат Мустафин, 23</span>
    <div class="params">80кг, 180см</div>
  </div>
  <div class="edit_profile_container">
    <img class="edit_icon" src="assets/icon/edit.svg">
    <span class="edit_text">Редактирования профиля</span>
  </div>
  <div class="main_settings_container">
    <div class="main_settings_item">
      <img src="assets/icon/history.svg" alt="history" class="item_icon">
      <span class="item_title">История целей</span>
      <img src="assets/icon/arrow-right.svg" alt="history" class="item_icon_arrow">
    </div>
    <div class="main_settings_item">
      <img src="assets/icon/settings.svg" alt="history" class="item_icon">
      <span class="item_title">Настройки</span>
      <img src="assets/icon/arrow-right.svg" alt="history" class="item_icon_arrow">
    </div>
    <div class="main_settings_item">
      <img src="assets/icon/help.svg" alt="history" class="item_icon">
      <span class="item_title">Помощь</span>
      <img src="assets/icon/arrow-right.svg" alt="history" class="item_icon_arrow">
    </div>
  </div>
  <div class="about_app_container">
    <img src="assets/icon/about.svg" class="about_icon" alt="no image">
    <span class="about_title">О приложении</span>
  </div>
  <div class="log_out_container">
    <img class="log_out_icon" src="assets/icon/log-out.svg" alt="no image">
    <span class="log_out_title">Выйти из аккаунта</span>
  </div>
</div>
