$color_white_background: #F9F9F9;
$color_white: #FFFFFF;
$color_black: #0F0F0F;
$color_grey_text: #979797;
$color_grey_placeholder: #0F0F0F;
$color_grey_divider: #E1E1E1;
$color_orange: #FE8400;
$color_yellow: #FFC700;
$color_green: #10E095;
$color_purple: #5451F2;
$color_blue: #00ADFF;
$color_pink: #E42274;
$color_lilac: #AF35E9;
$color_green_light: #85E010;
$color_red: #D41212;

