@import "src/global";

.tabbar {
  display: flex;
  justify-content: space-between;
  padding: 0 33px;
  &__tab {
    @include font_Inter_medium_14($color_grey_text);
  }

  .tab-selected {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: $color_orange;
  }
}
