@import "src/global";

.wrapper {
  padding: 30px 16px;
  height: 95%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 33.33%);

  .item_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    .image {
      width: 50%;
      height: 50%;
    }

    .title {
      @include font_Inter_medium_18($color_black);
    }

    .count {
      @include font_Inter_regular_12($color_grey_text);
    }
  }
}
