<div class="wrapper">
  <div class="item_container" [routerLink]="['arms']">
    <img class="image" src="assets/images/arms.png" alt="image was not loaded">
    <span class="title">Руки</span>
    <span class="count">12 упражнений</span>
  </div>
  <div class="item_container" [routerLink]="['chest']">
    <img class="image" src="assets/images/chest.png" alt="image was not loaded">
    <span class="title">Грудь</span>
    <span class="count">12 упражнений</span>
  </div>
  <div class="item_container" [routerLink]="['abs']">
    <img class="image" src="assets/images/abs.png" alt="image was not loaded">
    <span class="title">Пресс</span>
    <span class="count">12 упражнений</span>
  </div>
  <div class="item_container" [routerLink]="['back']">
    <img class="image" src="assets/images/back.png" alt="image was not loaded">
    <span class="title">Спина</span>
    <span class="count">12 упражнений</span>
  </div>
  <div class="item_container" [routerLink]="['legs']">
    <img class="image" src="assets/images/legs.png" alt="image was not loaded">
    <span class="title">Ноги</span>
    <span class="count">12 упражнений</span>
  </div>
  <div class="item_container" [routerLink]="['cardio']">
    <img class="image" src="assets/images/cardio.png" alt="image was not loaded">
    <span class="title">Кардио</span>
    <span class="count">12 упражнений</span>
  </div>
</div>
